// Color
$white: rgb(255, 255, 255);
$pastel-blue: #7EA2AA;
$violet: #5966a7;
$cyan: #64a791;
$pastel-violet: #9C7A97;
$pastel-brown: #AA867E;
$charcoal: #303633;
$pastel-pink: #b097ce;
$gold: rgb(226, 188, 19);
$silver: rgb(185, 185, 185);
$bronze: rgb(226, 112, 19);
$disabled: rgb(126, 126, 126);