// sass ./src/Scss/PlayerBar.scss ./src/Components/Lobby/PlayerBar/PlayerBar.css --watch
@import './variable';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.playerBarBG {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 250px;
    height: 75px;
    background-color: darken($charcoal, 10%);
    border-radius: 1rem;
    padding: 10px;

    &_btn {
        border: none;
        background-color: transparent;
        color: $white;
        font-weight: bold;
        font-size: 1.2rem;
        font-family: 'Lato', sans-serif;
    }

    &_btn:hover {
        text-shadow:0 0 7px $white,
            0 0 10px $white,
            0 0 21px $white;
    }
}

.playerBarModal {
    background-color: $white;
    border-radius: 1rem;
}